.body {
    padding: 30px;
    flex: 0.9;
    height: 100vh;
    color: white;
    overflow-y: overlay;
    width: 1060px;
    background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}
.body::-webkit-scrollbar {
    display: none;
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
    
}

.body__info > img {
    height: 15vw;
    margin: 0 20px;
    min-width: 190px;
    min-height: 190px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.5);
}
.body__infoText {
    flex: 1;
}

.body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body__infoText > p {
    font-size: 14px;
}

.body__icons {
    display: flex;
    align-items: center;
}
.body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body__icons > span {
    margin-right: 20px;
}
.body__shuffle {
    font-size: 50px !important;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-image: radial-gradient(white 30%,rgba(255,0,0,0),rgba(255,0,0,0));
    border-radius: 100%;
    color: #11DE53;
    
}

.body__fav {
    font-size: 30px !important;
    color: white;
    
}

.body__fav2 {
    color: hotpink;
}

.body__fav:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
    cursor: pointer;
}
.body__fav2:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
    cursor: pointer;
}

.body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

.body__songs {
    margin-bottom: 20px -30px;
}

.span {
    background-color: white;
    display: block;
    width: 40px;
    height: 40px;
    background-position: center;
}
